<div class="modal-header">
  <h4 class="modal-title">Connectez vous!</h4>
</div>
<div class="modal-body">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input type="email" [(ngModel)]="email" class="form-control" placeholder="Email utilisé lors de l'inscription" aria-describedby="basic-addon1">
    </div>
    <p class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="login()">Login</button>
</div>